/* .level-complete-wrapper {
    opacity: 0;
} */

.level-complete-wrapper.animating {
    animation: appear 1s ease;
}

@keyframes appear {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}